{
	"name": "full_example",
	"nice": 10,
	"user": "nobody",
 	"group": "nogroup",
	"namespaces": ["net", "ipc", "mount", "pid", "uname"],
	"io": {
		"class": "best_effort",
		"priority": 7
	},
	"mounts": [
		{ "target": "/proc", "source": "none", "fstype": "proc", "flags": "", "options": "" },
		{ "target": "/sys", "source": "none", "fstype": "sysfs", "flags": "", "options": "" }
	],
	"cgroups": {
		"cpu": {
			"shares": 1024
		},
		"cpuset": {
			"cpus": "0",
			"mems": "0"
		}
	},

	"capabilities": ["net_admin", "net_bind_service", "net_raw", "setgid",
			"setuid", "sys_ptrace"],

	"flags": ["noroot"],

	"ulimits": {
		"rss": { "hard": 134217728, "soft": 67108864 }
	},

	"chroot": "/tmp/full_example",

	"setup_cmds": [
		"debootstrap wheezy $CHROOT http://ftp.debian.org/debian"
	],

	"environment": {
		"PATH": "/usr/bin:/bin:/usr/local/bin",
		"HOME": "/",
		"USER": "nobody"
	},

	"command_line": "/bin/bash"
}
